*.pyc
*.pyo
__pycache__/

.vscode/
.idea/

*.log

.env
.venv/
venv/
*.env

.DS_Store
Thumbs.db

*.bak
*.swp
*.tmp

sdkconfig
sdkconfig.ci
sdkconfig.defaults.esp32h2
sdkconfig.old

build
testCoAP/photos/*.*